
article.editarticle {
  text-align: center;
  background: white;
  padding: 0 0 20px;

  header {
    padding: 10px;
    background: $secondary-bg;

    h1 {
      color: $secondary-fg;
    }

    a {
      font-size: 14px;
      text-decoration: none;
      margin-left: 10px;
      color: $secondary-light-fg;
    }
  }

  fileupload {
    margin: 0 0 20px;

    .inside {
      height: 150px;
    }
  }

  fileupload.cover {
    align-self: center;
    min-width: 178px;
  }

  form {
    padding: 0 40px 20px;

    textarea {
      height: 300px;
    }

    .loading-spinner {
      height: 300px;
      position: relative;
    }
  }

  table {
    tr.rowhidden td {
      background: #e6e6e6;
    }

    tr.rowfeatured td {
      background: hsl(120, 60%, 85%);
    }
  }

  h5 {
    margin-bottom: 20px;
  }

  & > .loading-spinner {
    width: 240px;
    height: 50px;
    position: relative;

    &.full {
      width: 100%;
    }
  }

  .fileupload {
    align-self: center;
    padding: 0.5em;
    margin: 0.5em 0;
    min-width: 250px;
    border: none;
    border: 1px solid $secondary-bg;
    background: $secondary-light-bg;
    color: $secondary-light-fg;
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.01;
      width: 100%;
      cursor: pointer;
      text-indent: -9999px;
      z-index: 2;
    }
  }

  files {
    align-items: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0;
    text-align: left;

    h4 {
      font-size: 1.1em;
      font-weight: bold;
      padding: 0 5px 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid $border;
    }
  }
}

table span.subarticle {
  padding: 0 5px;
}
