$primary-bg: #01579b;
$primary-fg: white;
$primary-light-bg: #4f83cc;
$primary-light-fg: white;
$primary-dark-bg: #002f6c;
$primary-dark-fg: white;

$secondary-bg: #f57c00;
$secondary-fg: black;
$secondary-light-bg: #ffad42;
$secondary-light-fg: black;
$secondary-dark-bg: #bb4d00;
$secondary-dark-fg: white;

$border: #ccc;
$title-fg: #555;
$meta-fg: #999;