
article.article {
  padding: 0;

  header {
    text-align: center;
    margin: 20px 20px 0;
    padding: 10px;
    background: $secondary-bg;
    width: 100%;
    max-width: 1920px;
    align-self: center;

    h1 {
      color: $secondary-fg;
    }
  }

  .cover {
    margin: 0 0 20px;
  }

  .admin-actions {
    margin-bottom: 20px;
  }

  .fr-view {
    margin: 0 20px;
    padding: 20px 20px 10px;
    width: calc(100% - 40px);
    max-width: 800px;
    flex: 2 0 0;
    align-self: center;
    background: $newsitem-bg;
    border-right: 1px solid #343536;
    border-left: 1px solid #343536;

    a.cover img {
      margin-bottom: 30px;
    }

    main {
      padding: 0 5px;
    }
  }

  fileinfo {
    font-size: 0.8em;

    ul {
      padding-left: 0;
    }
  }

  .opencomments {
    border: none;
    align-self: center;
    width: calc(100% - 40px);
    max-width: 300px;
    background: transparent;
    font-size: 1.2em;
    color: $secondary-dark-bg;
    cursor: pointer;
    height: 50px;
    margin: 0 0 30px;
  }

  .commentcontainer {
    align-self: center;
    width: calc(100% - 40px);
    max-width: 800px;
    margin-bottom: 30px;
    min-height: 50px;
    position: relative;
  }

  .goback {
    width: calc(100% - 40px);
    max-width: 800px;
    align-self: center;
    padding: 30px 5px 0;
    margin-bottom: -10px;

    a {
      font-weight: bold;
      text-decoration: none;
      color: $secondary-dark-bg;
    }
  }

  .entrymeta {
    flex-grow: 2;
    font-size: 11px;
    color: $meta-fg;
    font-weight: bold;
    margin: 40px 0 0;

    a {
      color: $secondary-dark-bg;
      margin: 0 4px;
      text-decoration: none;
    }
  }
}

.darkmodeon {
  article.article {
    header {
      background: $dark_secondary-bg;

      h1 {
        color: $dark_secondary-fg;
      }
    }

    .fr-view {
      background: $dark_newsitem-bg;
    }

    .opencomments {
      color: $dark_secondary-dark-bg;
    }

    .goback a {
      color: $dark_secondary-dark-bg;
    }
  }
}
